@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-open-sans: "Open Sans", sans-serif;
  --color-main: #1a2340;
  --color-main-red: #C0392B;
  --color-buttons: #283459;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  scroll-behavior: smooth;
}
